body {
    background: linear-gradient(to bottom, #131414, #ffffff); /* Gradient background */
}

.about-me {
    font-size: 2rem;
    color: black; 
}

.about-text {
    font-size: 1.2rem; 
}

.dramatic-text {
    font-size: 2rem; 
    color: rgb(0, 0, 0); 
}
h1{
    color :black
}
p{
    color :black
}
